RewriteEngine On
RewriteBase /proyecto/backend/

# Redirigir todas las solicitudes al index.php de Slim
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]